<ion-content>
  <div class="container">
    <div class="">

      <div class="top">

        <div class="home" (click)="gotolist()">
          <ion-icon name="arrow-back"></ion-icon>
        </div>

        <img src="{{suite.Image}}">
      </div>

      <div class="desc">
        <div class="prices">
          <div id="roomId">
            <p class="name"><span>{{suite.Name}}</span><br>{{suite.Type}}</p>
          </div>

          <div id="price">
            <p class="type">{{suite.Price | currency:'&#82;'}}</p>
          </div>
        </div>
        <div id="desc">
          <p>{{suite.Description}}</p>
        </div>

      </div>

      <p class="feat">Features</p>
      <div id="feat" >
        <div class="feature" *ngFor="let n of suite.features">
          {{n}}
        </div>
      </div>

    </div>
  </div>

  <div class="btn">
    <button ion-button full color="dark" (click)="gotobooking()">Book Now</button>
  </div>
</ion-content>
