page-booking {

  .container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .book {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    p {
      color: rgb(170, 135, 60);
      text-align: center;
      font-family: 'Dosis';
      font-size: 40px;
    }
    img{
      padding: 30px auto;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .guests {
    display: flex;
    flex-flow: row;
  }

  .dates {
    display: flex;
    flex-flow: row;

    .date {
      color: rgba(15, 15, 15, 0.712);
      font-size: 15px;
    }
  }

  .inputs {
    font-size: 20px;
    padding: 20px;
  }

  .item {
    background: transparent;
    color: rgb(14, 13, 13);
    font-family: 'Dosis';
  }

  .btn {
    position: relative;
    left: 10%;
  }

  .button {
    margin: 10px 0px;
    width: 80%;
  }

}
