<ion-content>


  <div class="container">
    <div class="">


      <div class="top">

        <div class="upload">
          <div id="home" >

            <div class="back" (click)="gotolist()">
                <ion-icon name="arrow-back"></ion-icon>
            </div>
      
            <div class="back1" (click)= "logout()">
                <ion-icon name="exit"></ion-icon>
            </div>
           
          </div>
          <img src="{{displayProfile.image}}">
        </div>

        <div class="upload2">
            <img src="{{displayProfile.image}}">
            <div class="back1" (click)= "profile()">
                <ion-icon ios="ios-create" md="md-create"></ion-icon>
            </div>
        </div>
      </div>

      <div class="details">
        <div class="view">
          <div class="name">
            <p id="fullname">{{displayProfile.firstname}}</p>
            <p id="username">{{displayProfile.Bio}}</p>
          </div>
          <div class="other">
            <p id="number">{{displayProfile.phone}}</p>
            <p id="email">{{displayProfile.email}}</p>
          </div>
        </div>

        <p class="bhist">Booking History</p>
        <div class="body">
          <div class="book" *ngIf="showComp">
            <p>YOU DO NOT HAVE <br> ANY BOOKINGS YET</p>
          </div>
          <div class="history" *ngFor="let n of displayBooking">

            <div class="roomname">
              <p class="rname">{{n.roomName}}</p>
            </div>
            <div class="extras">
              <div class="dates">
                  <p><span>Check-In:</span> {{n.date1}}</p><br>
                  <p id="d2"><span>Check-Out:</span> {{n.date2}}</p>
              </div>
              <p id="days">Days at the hotel: {{n.nodays}}</p>
              <hr>
            </div>

            <!-- <div class="buttonz">
                <button ion-button color="danger"></button>
            </div> -->
           
          </div>

        
        </div>
      </div>
    </div>
  </div>

</ion-content>
