page-profile {

  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .top {
    position: relative;
    background: black;
    height: 400px;
    width: 100%;
    .upload {
      height: 100%;
      width: 100%;
      object-fit: cover;

      .home {
        z-index: 3;
        position: absolute;
        color: rgba(255, 255, 255, 0.678);
        font-size: 20px;
        padding: 10px;
      }

      img {
        filter: blur(2px);
        -webkit-filter: blur(1.5px);
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
      }
    }

    .upload2 {
      z-index: 3;
      position: absolute;
      bottom: 150px;
      left: 80px;
      // border: 5px solid rgba(255, 255, 255, 0.466);
      // border-radius: 50%;
      display: flex;
      flex-flow: row;

      .icon {
        border: 2px solid rgba(255, 255, 255, 0.582);
        height: 45px;
        width: 45px;
        padding: 5px;
        border-radius: 50%;
        text-align: center;
        position: relative;
        left: 30px;
        top: 20px;
        font-size: 20px;
        color: white;
        background: rgba(216, 150, 8, 0.603);
      }

      img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.466);
        border-radius: 50%;
      }

      .home {
        color: white;
        font-size: 30px;
      }
    }
  }

  .details {
    height: 60vh;
    z-index: 5;
    position: relative;
    bottom: 170px;
    text-align: center;


    .name {
      #fullname {
        color: white;
        font-size: 30px;
      }

      #username {
        color: white;
        font-size: 10px;
        margin: 0;
      }
    }

    .other {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin: 0px 10px;
      color: white;
    }
  }

  .bhist {
    font-weight: bold;
    overflow-y: auto;
    font-size: 25px;
    align-content: flex-start !important;
  }



  .body {
    .history {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      padding: 10px;
      margin: 0px 5px;

      .roomname {
        flex-grow: 1;
        color: black;
        border-radius: 50%;
        font-size: 25px;

        .rname {
          font-family: 'Pacifico';
        }
      }

      .extras {
        flex-grow: 2;
        font-size: 15px;
      }
    }
  }

}
