@import url('https://fonts.googleapis.com/css?family=Lato|Teko|Abel|Anton|Dosis|Oxygen|Jura|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Open+Sans+Condensed');

page-profile {

  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

  }

  .top {
    position: relative;
    background: black;
    height: 450px;
    width: 100%;

    .upload {
      height: 100%;
      width: 100%;
      object-fit: cover;

      #home {
        z-index: 5;
        position: absolute;
        color: rgba(255, 255, 255, 0.774);
        font-size: 25px;
        padding: 10px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .back1 {
          position: absolute;
          left: 95px;
          top: 60px;
          border: 3px solid white;
          border-radius: 50%;
          text-align: center;
          width: 40px;
          height: 40px;

          .icon {
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: 5px;
            font-size: 25px;
            background: rgba(170, 135, 60, 0.712);
            border-radius: 50%;
          }
        }

      }

      img {
        filter: blur(2px);
        -webkit-filter: blur(1.5px);
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;

      }
    }

    .upload2 {
      z-index: 3;
      // border: 5px solid rgba(255, 255, 255, 0.466);
      // border-radius: 50%;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 90%;

      img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.466);
        border-radius: 50%;
      }

      .home {
        color: white;
        font-size: 30px;
      }
    }
  }

  .details {
    height: 60vh;
    z-index: 5;
    position: relative;
    bottom: 185px;
    text-align: center;


    .name {
      #fullname {
        color: white;
        font-size: 30px;
        font-family: 'Dosis';
      }

      #username {
        color: white;
        font-size: 12px;
        margin: 0;
        font-family: 'Dosis';
      }
    }

    .other {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin: 0px 10px;
      color: white;
      font-family: 'Dosis';
    }
  }

  .bhist {
    font-weight: bold;
    overflow-y: auto;
    font-size: 25px;
    align-content: flex-start !important;
  }



  .body {
    font-family: 'Dosis';

    .history {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      padding: 10px;

      .roomname {
        flex-grow: 1;
        color: black;
        font-size: 20px;

        .rname {
          font-family: 'Pacifico';
        }
      }

      .extras {
        flex-grow: 2;
        font-size: 15px;
        display: flex;
        flex-flow: column;

        .dates {
          display: flex;
          flex-flow: row;
          justify-content: space-evenly;

          span {
            color: black;
            font-weight: bold;
          }
        }

        #days {
          position: relative;
          bottom: 30px;
        }
      }
    }
  }

}
