page-contact {
    p {
        color: rgb(170, 135, 60);
        text-align: center;
        font-family: 'Jura';
        font-size: 40px;
      }

      .btn {
        position: relative;
        left: 10%;
      }
    
      .button {
        margin-top: 20px;
        width: 80%;
      }
}
