@import url('https://fonts.googleapis.com/css?family=Lato|Teko|Abel|Anton|Dosis|Oxygen|Jura|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Open+Sans+Condensed');

page-home {

  .content {
    background: linear-gradient(rgba(27, 27, 27, 0.767)), url('../../assets/imgs/Uzurihotel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
  }

  .container {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }


  .lux {
    flex: 1;
    margin-top: 150px;

    h3 {
      font-size: 60px;
      text-align: center;
      font-family: 'Dosis';
      color: rgb(255, 255, 254);
    }
  }


  .desc {
    p {
      font-size: 15px;
      align-items: center;
      font-family: 'Dosis';
    }
  }


  .segments {

    align-items: center;

  }

  .segment {
    color: white;
    padding: 10px;
  }

  .btn {
    .button {

      width: 80%;
      align-items: center;
      background: rgba(8, 8, 8, 0.377);
      color: whitesmoke;
      border-radius: 20px;
      position: absolute;
      left: 10%;
      bottom: 25%;
      font-family: 'Dosis';
    }
  }

  .btn1 {
    .button {

      width: 80%;
      align-items: center;
      background: rgba(8, 8, 8, 0.377);
      color: whitesmoke;
      border-radius: 20px;
      position: absolute;
      left: 10%;
      bottom: 17%;
      font-family: 'Dosis';
    }
  }



  .txt {
    text-align: center;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 10%;
    font-size: 12px;
    font-family: 'Dosis';
  }



}
