page-payment {

  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .book {
    text-align: center;
    font-size: 45px;
    color: rgb(163, 112, 16);

  }

  .cards {
    display: flex;
    flex-flow: row;

    i {
      font-size: 40px;
      margin: 5px;
    }
  }

  .info {
    display: flex;
    flex-flow: column;
    width: 100%;
    position: relative;
    top: 30%;

    .dates {
      display: flex;
      flex-flow: row;
    }
  }

.btn{
  width: 80%;
  position: relative;
  top: 15%;
  left: 10%;
}

}
