page-payment {

.container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.cards{
  display: flex;
  flex-flow: row;
  i{
    margin: 5px;
    font-size: 40px;
  }
}

.inputs{
  display: flex;
  flex-flow: column;
  width: 90%;
  .dates{
    display: flex;
    flex-flow: row;
  }
}

.book{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  p{
    color: rgb(170, 135, 60);
    font-size: 45px;
    text-align: center;
  }

  img{
    width: 200px;
    height: 200px;
  }
}
.btn{
  position: relative;
  top: 30px;
}

}
