<!-- Generated template for the Popover4Component component -->
<ion-content>
  <div class="container">
    <div class="header">
      <div class="image">
        <h1>WELCOME</h1>
        <p>Create an account <br> to continue</p>
      </div>
    </div>

    <div class="npts">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>


    </div>
  </div>
  <button ion-button full (click)="register(user)" id="reg">Sign Up</button>
  <p>Already have an account? <span (click)="presentPopover3(myEvent)">Sign in</span></p>

  <div class="close">
    <ion-buttons>
      <button ion-button clear (click)="close()">
        X
      </button>
    </ion-buttons>
  </div>

</ion-content>
