<!-- Generated template for the Popover3Component component -->

<ion-content padding>
 
    <div class="container">
      <div class="">
      <div id="icon">
        <h1>WELCOME</h1>
        <p>Sign-In to your account <br> to continue </p>
      </div>
      <div class="npts">
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
      
      
    </div>
    <div class="btn">
        <button ion-button full style="margin-top: 25px" (click)="login(user)" class="btns" id="login">Sign In</button>
        <p>Don't have an account yet? <span (click)="presentPopover4(myEvent)">Sign up</span></p>
      </div>
      <div class="close">
        <ion-buttons>
          <button ion-button clear (click)="close()">
            X
          </button>
        </ion-buttons>
      </div>
    </div>
    </div>
  </ion-content>
  
