popover3 {
  .content {
    background: linear-gradient(rgba(95, 94, 94, 0.555)), url('../../assets/imgs/book.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .back {
    position: absolute;
    top: 0%;
    left: 0%;

    .icon {
      color: rgb(170, 135, 60);
      font-size: 20px;text-align: center;     
       p{
        text-align: center;
      }
    }
  }
  #forgot{
    color:whitesmoke;
    font-size: 13px;
  }

  .container {
    display: grid;
    align-content: center;
  }

  #icon {
    position: relative;
    left: 10%;
    width: 200px;

    h1 {
      text-align: center;
      font-family: 'Dosis';
      font-size: 40px;
      background: transparent;
      color: white;
      padding: 20px;
      font-weight: bold;
      font-size: 40px;
    }
  }

  .npts {
    align-items: center;
    width: 100%;
    background: transparent;

    .label {
      color: white;
      font-family: 'Dosis';
    }

    .input {
      color: white;
    }

    .item {
      background: transparent;
      font-family: 'Dosis';
    }
  }

  .close {
    text-align: center;
    margin-bottom: 10px;

    .button {
      height: 35px;
      width: 20px;
      color: white;
      border: 2px solid whitesmoke;
      border-radius: 50%;
      font-family: 'Dosis';
    }
  }


  .btn {
    .btns {
      width: 100%;
    }
  }

  #login {
    background: rgba(8, 8, 8, 0.418);
    color: whitesmoke;
    border-radius: 20px;
    width: 100%;
    font-family: 'Dosis';
  }

  #register {
    color: black;
    font-family: 'Dosis';
  }

}
p {
  font-family: 'Dosis';
  span{
    color:rgb(91, 91, 236);
  }
 }

.error {
  >div {
    background-color: rgb(22, 154, 216) !important;
  }
}
