<ion-content padding class="container"> 



 
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate> 
    <ion-item style="background-color: transparent"> 
      <ion-label stacked>Email</ion-label> 
      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!resetPasswordForm.controls.email.valid && blur"> 
      </ion-input> 
    </ion-item> 
    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty">
       <p style="color: red">Please enter a valid email.</p> 
      </ion-item> 
      <button ion-button style="color: rgb(109, 72, 41)" block type="submit" [disabled]="!resetPasswordForm.valid"> Reset your Password </button> 
    </form> 

  </ion-content>